<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Moss</title>
      <meta name="twitter:card" content="summary" /> 
<meta name="twitter:site" content="@forestpopoon" /> 
<meta property="og:url" content={{ "https://moss-adonis.herokuapp.com"+request.url() }} /> 
<meta property="og:title" content="Moss" /> 
<meta property="og:description" content="TwitchとMildomの配信リストを同時に見ることができます" />
<meta property="og:image" content={{ "https://moss-adonis.herokuapp.com"+assetsUrl("/twittercard128x128.png") }} />
    <link rel="icon" type="image/png" href={{ assetsUrl("/favicon-16x16.ico") }} sizes="16x16" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172467115-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172467115-1');
</script>

  </head>
  <body class="bg-gray-900">
        <header class="px-16 py-8">
      <div class="bg-gray-700 shadow-sm h-16 rounded flex-wrap ">
        <div class="flex px-5">
          <a href="/">
          <h1 class="text-2xl text-white py-3 flex"> 
            <img class="pr-5 py-1" src={{ assetsUrl("/logoicon.png") }} alt="#">
            Moss
          </h1> 
          </a>
          <a class="text-xl text-white px-5 py-4">/</a>
          <h2 class="text-lg text-white pt-5">Twich & Mildom</h2>
        </div>
      </div>
  </header>
  

    <div class="grid gap-6 grid-cols-10 px-16 row-gap-16 ">
      @each(content in contentlist)
      <div class="bg-gray-700 w-full h-64 overflow-hidden">
      <a href="/content/{{ content.name }}"+>
          <div class="h-48 bg-transparent relative">
          <img class="text-center" src="{{ content.poster }}" alt="Poster">
          </div>
          <div class="flex">
            <div class="bg-gray-800 w-full h-16">
              <div class="py-6 pl-3 truncate ... text-gray-200">{{ content.name }}</div>
            </div>
          </div>
        </a>
      </div>
      @endeach

     </div>

  </body>
</html>
