<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Moss | {{ contentname }}</title>
  
<meta name="twitter:card" content="summary">
<meta name="twitter:site" content="@forestpopoon" /> 
<meta property="og:url" content={{ "https://moss-adonis.herokuapp.com"+request.url() }} /> 
<meta property="og:title" content="Moss" /> 
<meta property="og:description" content="TwitchとMildomの配信リストを同時に見ることができます" />
<meta property="og:image" content={{ "https://moss-adonis.herokuapp.com"+assetsUrl("/twittercard128x128.png") }}/>

  <link rel="icon" type="image/png" href={{ assetsUrl("/favicon-16x16.ico") }} sizes="16x16" />
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
    
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-172467115-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-172467115-1');
</script>

  </head>
  <body class="bg-gray-900">
          <header class="px-16 py-8">
      <div class="bg-gray-700 shadow-sm h-16 rounded flex-wrap ">
        <div class="flex px-5">
          <a href="/">
          <h1 class="text-2xl text-white py-3 flex"> 
            <img class="pr-5 py-1" src={{ assetsUrl("/logoicon.png") }} alt="#">
            Moss
          </h1> 
          </a>
          <a class="text-xl text-white px-5 py-4">/</a>
          <h2 class="text-lg text-white pt-5">{{ contentname }}</h2>
        </div>
      </div>
  </header>
    
    <div class="grid gap-6 grid-cols-5 px-16 row-gap-16">
      @each(stream in streamlist)
      <div class="bg-gray-900 w-full h-64 overflow-hidden">
      <a href="{{ stream.url }}" target="_blank">
         <div class="h-48 bg-transparent relative">
        <img class="text-center" src="{{ stream.img }}" alt="Poster">
        <div class="flex rounded absolute top-0 left-0">
            <div class="bg-red-600 px-2 w-6 h-6"></div>
            <div class="bg-red-500 text-gray-200 px-2 w-16 h-6 text-center text-base font-medium">{{ stream.views }}</div>
        </div>
         </div>
        <div class="flex">
        @if(stream.platform == "Twitch")
          <div class="bg-gray-200 w-6 h-16 bg-purple-500"></div>
          <div class="w-full h-16 bg-purple-700 px-3 overflow-hidden">
            <div class="block pt-2 truncate ... text-lg text-gray-300">{{ stream.intro }}</div>
            <div class="block truncate ... text-base text-gray-400">{{ stream.name }}</div>
          </div>
        @else
          <div class="bg-gray-200 w-6 h-16 bg-blue-500"></div>
          <div class="w-full h-16 bg-blue-800 px-3 overflow-hidden">
            <div class="block pt-2 truncate ... text-lg text-gray-300">{{ stream.intro }}</div>
            <div class="block truncate ... text-base text-gray-400">{{ stream.name }}</div>
          </div>
        @endif

        </div>
      </a>
      </div>
      @endeach
    </div>
    
  </body>
</html>
